<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-management customer-detail-table" >
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.username" />
		</td>
		<td class="tdt-value">
		{customer.username}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.name" />
		</td>
		<td class="tdt-value">
		{customer.name}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.telephone" />
		</td>
		<td class="tdt-value">
		{customer.telephone}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.zip" />
		</td>
		<td class="tdt-value">
		{customer.zip}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.address" />
		</td>
		<td class="tdt-value">
		{customer.address}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.email" />
		</td>
		<td class="tdt-value">
		{customer.email}
		</td>
	</tr>
	<tr>
		<td class="tdt-label">
			<f:translate key="tx_management_domain_model_customer.crdate" />
		</td>
		<td class="tdt-value">
		{customer.crdate -> f:format.date()}
		</td>
	</tr>
</table>
</html>
